Repository ammuench/cloud-pigeon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --, prettier --write ., prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix --", "prettier --write ."],
  "*.json": "prettier --write .",
  "*.html": "prettier --write"
}

✨ Build out initial auth logic, load profile in nav
  .eslintignore
  apps/electron/forge.config.ts
  apps/electron/package.json
  apps/electron/src/app.tsx
  apps/electron/src/components/Navigation.tsx
  apps/electron/src/custom.d.ts
  apps/electron/src/index.html
  apps/electron/src/main.ts
  apps/electron/src/preload.ts
  apps/electron/src/renderer.tsx
  apps/electron/src/screens/DashboardScreen.tsx
  apps/electron/src/screens/SplashScreen.tsx
  apps/electron/src/services/google-profile.service.ts
  apps/electron/src/services/google-refresh-token.service.ts
  apps/electron/src/store/googleProfileStore.ts
  apps/electron/src/types/JSON/electron-store.types.ts
  apps/electron/src/types/JSON/env-variables.types.ts
  apps/electron/webpack.main.config.ts
  apps/next/README.md
  apps/next/package.json
  apps/next/tsconfig.json
  custom.d.ts
  package.json
  tsconfig.electron.json
  tsconfig.json
  tsconfig.next.json
  yarn.lock
Due: eslint --fix --, prettier --write ., prettier --write

⚡️ Fix typing & configs, clean up eslint perf
  .eslintrc.json
  apps/electron/src/components/Navigation.tsx
  apps/electron/src/custom.d.ts
  apps/electron/src/main.ts
  apps/electron/src/preload.ts
  apps/electron/src/screens/SplashScreen.tsx
  apps/electron/src/services/google-profile.service.ts
  apps/electron/src/services/google-refresh-token.service.ts
  apps/electron/src/types/electron-store.types.ts
  apps/electron/src/types/window.types.ts
  apps/electron/tsconfig.json
  apps/electron/webpack.plugins.ts
  apps/next/tsconfig.json
  tsconfig.base.json
  tsconfig.electron.json
  tsconfig.next.json
  turbo.json
Due: eslint --fix --, prettier --write .

🔧 Update Gitignore
  .gitignore
Due: none

🚧 Update eslint/prettier, start adjusting login setup
  .eslintignore
  .eslintrc.json
  .prettierrc.json
  package.json
  src/constants.ts
  src/main.ts
  src/preload.ts
  src/screens/SplashScreen.tsx
  src/services/config.service.ts
  src/types/window.types.ts
  tailwind.config.js
  yarn.lock
Due: eslint --fix --, prettier --write .

🔧 Build out precommit format, eslint
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  frontend/.prettierrc
  frontend/eslint.config.mjs
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/package.json.md5
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix --, prettier --write .

🎨 Clean up assets, update eslint, add nuxtui
  assets/fonts/chivo/Chivo-Italic-VariableFont_wght.ttf
  assets/fonts/chivo/Chivo-VariableFont_wght.ttf
  assets/fonts/chivo/_chivo-font.css
  assets/logo/png/logo-with-text.png
  assets/logo/svg/logo-no-text.svg
  assets/logo/svg/logo-with-text.svg
  frontend/app.config.ts
  frontend/app.vue
  frontend/assets/images/logo-universal.png
  frontend/assets/images/nuxt.png
  frontend/eslint.config.mjs
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/package.json.md5
  frontend/tailwind.config.js
  pnpm-lock.yaml
Due: eslint --fix --, prettier --write .

Add DS_Store to gitignore
  .gitignore
Due: none

🔧 Update config, setup hash routing
  frontend/app.vue
  frontend/eslint.config.mjs
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/pages/index.vue
  frontend/pages/test.vue
  pnpm-lock.yaml
Due: eslint --fix --, prettier --write .
